{% extends "_main.html" %}

{% block content %}
<h1 class="page-header">Volkslauf l&ouml;schen</h1>

<form method="post">

<p>
Willst du den folgenden Lauf wirklich l&ouml;schen?
</p>

<dl class="dl-horizontal">
	<dt>Titel</dt>
    <dd>{{ event.title }}</dd>

	<dt>Jahr</dt>
    <dd>{{ event.year }}</dd>
</dl>

	<div>
	    <button class="btn btn-danger" type="submit" name="submit_yes" value="yes">
	    Ja, l&ouml;schen
	    </button>
	    <button class="btn btn-default" type="submit" name="submit_no" value="no">
	    Nein, abbrechen
	    </button>
	</div>
</form>
{% endblock %}
