{% extends "_main.html" %}

{% block content %}
<h1 class="page-header">Lauf importieren</h1>

{%- formfill event with errors %}
<form method="post" enctype="multipart/form-data">

<label for="file-upload">Lauf TSV Datei</label>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-default btn-file">
                Datei ausw&auml;hlen
                <input type="file" name="tsv_file" id="file-upload">
            </span>
        </span>
        <input type="text" class="form-control" readonly>
    </div>
</div>

<div>
	<button class="btn btn-success" type="submit" name="submit_import" value="create">
        Lauf Importieren
	</button>
	<button class="btn btn-default" type="submit" name="submit_cancel" value="cancel">
        Abbrechen
	</button>
</div>

</form>
{% endformfill %}
{% endblock %}
