{% extends "_report.html" %}

{% block title %}
<title>Zieleinlaufliste</title>
{% endblock %}

{% block header %}
<h1>Zieleinlaufliste</h1>
{% endblock %}

{% block content %}
    {% for race, runners2 in runners.iteritems() %}
        <h2>Strecke: {{ race }}</h2>
        {% for gender, runners3 in runners2.iteritems() %}
    <h3>Geschlecht: {% if gender == "male" %}m{% else %}w{% endif %}</h3>

    <table class="finished_list" repeat="1">
        <thead>
            <tr>
                <th style="width: 10%";>Platz</th>
                <th style="width: 30%";>Name</th>
                <th style="width: 30%";>Team</th>
                <th style="width: 15%";>Altersklasse</th>
                <th style="width: 15%";>Zeit</th>
            </tr>
        </thead>
        <tbody>
            {% for runner in runners3 %}
            <tr>
                <td style="text-align: right;">{{ loop.index }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{ runner.name }}</td>
                <td>{{ runner.team }}</td>
                <td>{{ runner.age_class }}</td>
                <td style="text-align: right;">{{ runner.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% endfor %}
    {% endfor %}
{% endblock %}
