{% extends "_report.html" %}

{% block title %}
<title>Zieleinlaufliste</title>
{% endblock %}

{% block header %}
    {% if race == "6km" %}
        <h1>Starterliste {{ event.title }} (6 km)</h1>
    {% elif race == "12km" %}
        <h1>Starterliste {{ event.title }} (12 km)</h1>
    {% else %}
        <h1>Starterliste {{ event.title }}</h1>
    {% endif %}
{% endblock %}

{% block content %}
<table repeat="1">
    <thead>
        <tr class="header">
            <th class="start_no">Startnr.</th>
            <th class="name">Name</th>
            <th class="team">Verein</th>
            <th class="gender">m/w</th>
            <th class="age_class">Klasse</th>
            <th class="race">Strecke</th>
        </tr>
    <thead>
    <tbody>
    {% for runner in runners %}
        <tr>
            <td>{{ runner.start_no }}</td>
            <td>{{ runner.name }}</td>
            <td>{{ runner.team }}</td>
            <td>{% if runner.gender == "male" %}m{% else %}w{% endif %}</td>
            <td>{{ runner.age_class }}</td>
            <td>{{ runner.race }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
