<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block header %}
        <title>Zieleinlaufliste</title>
        {% endblock %}
    </head>
    <body>

{% if race == "6km" %}
    <h1>Starterliste {{ event.title }} (6 km)</h1>
{% elif race == "12km" %}
    <h1>Starterliste {{ event.title }} (12 km)</h1>
{% else %}
    <h1>Starterliste {{ event.title }}</h1>
{% endif %}

<table>
    <thead>
        <tr>
            <td>Startnr.</td>
            <td>Name</td>
            <td>Team</td>
            <td>Geschlecht</td>
            <td>Alterklasse</td>
            <td>Strecke</td>
        </tr>
    <thead>
    <tbody>
    {% for runner in runners %}
        <tr>
            <td>{{ runner.start_no }}</td>
            <td>{{ runner.name }}</td>
            <td>{{ runner.team }}</td>
            <td>{% if runner.gender == "male" %}m{% else %}w{% endif %}</td>
            <td>{{ runner.age_class }}</td>
            <td>{{ runner.race }}</td>
        </tr>
    {% endfor %}
</ul>
    </body>
</html>
