{% extends "_report.html" %}

{% block title %}
<title>Starterliste</title>
{% endblock %}

{% block header %}
    {% if race == "6km" %}
        <h1>Starterliste {{ event.title }} (6 km)</h1>
    {% elif race == "12km" %}
        <h1>Starterliste {{ event.title }} (12 km)</h1>
    {% else %}
        <h1>Starterliste {{ event.title }}</h1>
    {% endif %}
{% endblock %}

{% block content %}
<table class="starter_list" repeat="1">
    <thead>
        <tr class="header">
            <th style="width: 10%;">Startnr.</th>
            <th style="width: 30%;">Name</th>
            <th style="width: 30%;">Verein</th>
            <th style="width: 10%;">m/w</th>
            <th style="width: 10%;">Klasse</th>
            <th style="width: 10%;">Strecke</th>
        </tr>
    <thead>
    <tbody>
    {% for runner in runners %}
        <tr>
            <td style="text-align: right;">{{ runner.start_no }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{ runner.name }}</td>
            <td>{{ runner.team }}</td>
            <td style="text-align: center;">{% if runner.gender == "male" %}m{% else %}w{% endif %}</td>
            <td>{{ runner.age_class }}</td>
            <td style="text-align: right;">{{ runner.race }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
