{% extends "_main.html" %}

{% block content %}
<h2>Volkslauf &raquo;{{ event.title }}&laquo;</h2>

<div>
	<div>Jahr: {{ event.year }}</div>
    <div>Anzahl L&auml;ufer: {{ event.num_runners() }} (nicht im Ziel: {{ num_missing }})</div>
	<div>N&auml;chste Startnr. {{ event.next_start_no }}</div>
	<div>(<a href="/event/delete/{{ event.key.urlsafe() }}">Lauf l&ouml;schen</a>)</div>
	<div>(<a href="/event/update/{{ event.key.urlsafe() }}">Lauf bearbeiten</a>)</div>
</div>

<div>
	<a href="/runner/{{ event.key.urlsafe() }}/create">Neuer L&auml;ufer</a>
</div>

{% include "event/_finished_form.html" %}

<table id="runner_table">
	<thead><tr>
		<th>Startnr.</th>
		<th>Name</th>
		<th>Team</th>
		<th>Geschlecht</th>
		<th>Geburtsjahr</th>
		<th>Alterklasse</th>
		<th>Strecke</th>
		<th>Zeit</th>
		<th>Operation</th>
	</tr></thead>
	<tbody>
		{% for runner in event.all_runners() %}
		<tr>
			<td>{{ runner.start_no }}</td>
			<td>{{ runner.name }}</td>
			<td>{{ runner.team|default('-', True) }}</td>
			<td>{{ 'm' if runner.gender == 'male' else 'w' }}</td>
			<td>{{ runner.birth_year }}</td>
			<td>{{ runner.age_class }}</td>
			<td>{{ runner.race }}</td>
			<td>{{ runner.time|display_seconds|default('-', True) }}</td>
			<td>
				<a href="/runner/{{ event.key.urlsafe() }}/delete/{{ runner.key.urlsafe() }}">l&ouml;schen</a>
				<a href="/runner/{{ event.key.urlsafe() }}/update/{{ runner.key.urlsafe() }}">bearbeiten</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div id="report_menu">
    <h3>Drucken</h3>
    <ul>
        <li>
            Urkunden
            (<a href="/event/{{ event.key.urlsafe() }}/report/certificates">alle</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/certificates?race=6km">6km</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/certificates?race=12km">12km</a>)
        </li>
        <li>
            Starterlisten nach Startnr.
            (<a href="/event/{{ event.key.urlsafe() }}/report/starter_lists?order=start_no">alle</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/starter_lists?order=start_no&race=6km">6km</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/starter_lists?order=start_no&race=12km">12km</a>)
        </li>
        <li>
            Starterlisten alphabetisch
            (<a href="/event/{{ event.key.urlsafe() }}/report/starter_lists?order=name">alle</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/starter_lists?order=name&race=6km">6km</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/starter_lists?order=name&race=12km">12km</a>)
        </li>
        <li>
            Zieleinlauf nach Strecke
            (<a href="/event/{{ event.key.urlsafe() }}/report/finished">alle</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/finished?race=6km">6km</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/finished?race=12km">12km</a>)
        </li>
        <li>
            Zieleinlauf nach Strecke, Geschlecht
            (<a href="/event/{{ event.key.urlsafe() }}/report/finished?by=gender">alle</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/finished?race=6km&by=gender">6km</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/finished?race=12km&by=gender">12km</a>)
        </li>
        <li>
            Zieleinlauf nach Strecke, Geschlecht, Altersklasse
            (<a href="/event/{{ event.key.urlsafe() }}/report/finished?by=gender,age_class">alle</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/finished?race=6km&by=gender,age_class">6km</a>
            <a href="/event/{{ event.key.urlsafe() }}/report/finished?race=12km&by=gender,age_class">12km</a>)
        </li>
    </ul>
</div>

<div id="report_menu">
    <h3>Exportieren</h3>
    <ul>
        <li>als <a href="/event/{{ event.key.urlsafe() }}/export/csv">CSV</a></li>
        <li>als <a href="/event/{{ event.key.urlsafe() }}/export/xls">Excel</a></li>
    </ul>
</div>
{% endblock %}
